
$color-danger: #D52E2D;
$color-bc-accent: #EBEBEB;
$color-black: #000;
$color-text: #041E2A;
$color-white: #fff;
$color-text-light: rgb(88, 88, 88);
$makara: #887f72;
$bunker: #161d22;
$genoa: #137172;
$botticelli: #cbd7e6;
$color-thirdary: #48d0cc;
$color-primary: #64acca;
$everglade: #1f4a26;
$emperor: #51484a;
$color-secondary: #6b94a7;

// Shadows
$shadow-item: #00000029;