.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: none;
    margin: none;
    section {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: none;
        margin: none;
    }
}

.content {
    width: calc(100% - 2rem);
}

.itemMenu {
    width: 20%;
}

.sidebar {
    width: 5%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 5.5rem;
        margin-bottom: 3rem;
    }
    i {
        font-size: 2rem;
        color: white;
        margin-bottom: 2rem;
    }
}
